.book-card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    background-color: #FFA5C6;
    padding: 20px;
}

.book-shelf{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

